<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic:: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <h1 class="mt-4">Movie Register Page</h1>

        <form th:action="@{/movie/register}" th:method="post">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" placeholder="Enter Title">
            </div>

            <div class="mt-2 form-group fileForm">
                <label>Image Files</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input files" id="fileInput" multiple>
                    <label class="custom-file-label" data-browse="Browse"></label>
                </div>
            </div>

            <div class="box">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="uploadResult">
            <ul>

            </ul>
        </div>


        <!-- 모달 -->
        <div class="reviewModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Movie Review</h5>
                        <button type="button" class="close" data-miss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Reviewer ID</label>
                            <input type="text" class="form-control" name="mid">
                        </div>
                        <div class="form-group">
                            <label>Grade<span class="grade"></span></label>
                            <div class="starrr"></div>
                        </div>
                        <div class="form-group">
                            <label>Review Text</label>
                            <input type="text" class="form-control" name="text" placeholder="Good Movie!">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary reviewSaveBtn">Save Changes</button>
                        <button type="button" class="btn btn-warning modifyBtn">Modify</button>
                        <button type="button" class="btn btn-danger removeBtn">Remove</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="imageModal modal" tabindex="-2" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Picture</h5>
                        <button type="button" class="close" data-miss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/starrr.js}"></script>
        <link th:href="@{/css/starrr.css}" rel="stylesheet"/>
        <link rel="stylesheet"
              href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

        <style>
            .uploadResult{
                width: 100%;
                background-color: gray;
                margin-top: 10px;
            }

            .uploadResult ul {
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                vertical-align: top;
                overflow: auto;
            }

            .uploadResult ul li{
                list-style: none;
                padding: 10px;
                margin-left: 2em;
            }

            .uploadResult ul li img {
                width: 100px;
            }
        </style>

        <script>

            const showResult = (uploadResultArr) => {
                const uploadUL = $(".uploadResult ul");
                let str = "";
                uploadResultArr.forEach( uploadResult => {
                    const {fileName, folderPath, uuid, imageURL, thumbnailURL} = uploadResult;

                    str += `<li data-name="${fileName}" data-path="${folderPath}" data-uuid="${uuid}">`;
                    str += `<div>`;
                    str += `<button type='button' data-file="${imageURL}" class="btn-warning btn-sm">X</button>`;
                    str += `<img src="/display?fileName=${thumbnailURL}">`;
                    str += `</div>`;
                    str += `</li>`;
                })

                uploadUL.append(str);
            }

            $(document).ready(function (e) {


                const regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
                const maxSize = 10485760; // 10MB

                function checkExtension(fileName, fileSize) {
                    console.log("fileSize", fileSize);
                    if (fileSize >= maxSize) {
                        alert("파일 사이즈가 초과되었습니다.");
                        return false;
                    }

                    if (regex.test(fileName)) {
                        alert("해당 파일은 업로드할 수 없는 종류입니다.");
                        return false;
                    }

                    return true;
                }

                $(".custom-file-input").on("change", function () {
                    const fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

                    const formData = new FormData();
                    const inputFile = $(this);
                    const files = inputFile[0].files;
                    let appended = false;
                    if(Object.values(files).some(file => {
                        !checkExtension(file.name, file.size)
                        formData.append("uploadFiles", file)
                        appended = true;
                    })) return false;

                    if(!appended) return;
                    console.log("files", files);
                    console.log("formData", formData);

                    $.ajax({
                        url: "/uploadAjax",
                        processData: false,
                        contentType: false,
                        data: formData,
                        type: 'POST',
                        dataType: 'json',
                        success: (result) => {
                            console.log("result", result);
                            showResult(result);
                        },
                        error: (jqXHR, textStatus, errorThrown) => {
                            console.log("jqXHR", jqXHR);
                            console.log("textStatus", textStatus);
                            console.log("errorThrown", errorThrown);
                        },
                    });
                });

                $(".uploadResult").on("click", "li button", function (e) {
                    console.log("Delete File");
                    const targetFile = $(this).data("file");
                    const targetLi = $(this).closest("li");

                    $.ajax({
                        url: "/removeFile",
                        data: {
                            fileName: targetFile
                        },
                        dataType: "text",
                        type: "POST",
                        success: (result) => {
                            alert(result);
                            targetLi.remove();
                        }
                    })
                });

                $(".btn-primary").on("click", function (e) {
                    e.preventDefault();
                    let str = "";

                    $(".uploadResult li").each(function (i, obj) {
                        const target = $(obj);
                        console.log("obj", obj);
                        console.log("target", target);

                        str += `<input type='hidden' name="imageDTOList[${i}].imgName" value="${target.data('name')}">`;
                        str += `<input type='hidden' name="imageDTOList[${i}].path" value="${target.data('path')}">`;
                        str += `<input type='hidden' name="imageDTOList[${i}].uuid" value="${target.data('uuid')}">`;

                        $(".box").html(str);
                        $("form").submit();
                    });
                });

            });
        </script>

    </th:block>

</th:block>
</html>