<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0
  maximum-scale=1.0, minimum-scale=1.0">
    <title>UploadEx</title>
</head>
<body>

    <input name="uploadFiles" type="file" multiple>
    <button class="uploadBtn">Upload</button>

    <div class="uploadResult">

    </div>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>

        $('.uploadBtn').click(() => {

            const formData = new FormData();
            const inputFile = $("input[type='file']");
            const files = inputFile[0].files;

            Object.values(files).forEach(file => {
                console.log("file", file);
                formData.append("uploadFiles", file)
            })

            $.ajax({
                url: "/uploadAjax",
                processData: false,
                contentType: false,
                type: 'POST',
                data: formData,
                dataType: 'json',
                success: result => {
                    console.log(result);
                    showUploadedImages(result);
                },
                error: (jqXHR, textStatus, errorThrown) => {
                    console.log(textStatus);
                }
            })
        });

        const showUploadedImages = (fileInfoList) => {
            console.log(fileInfoList);

            const divArea = $(".uploadResult");
            fileInfoList.forEach( fileInfo => {
                divArea.append(`<img src='/display?fileName=${fileInfo.imageURL}'>`)
            })

        }

    </script>

</body>
</html>