<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0 maximum-scale=1.0, minimum-scale=1.0">
    <title>Ex2</title>
</head>
<body>
    <h1>반복문</h1>
    <ul>
        <li th:each="dto, state: ${list}">
            인덱스: [[${state.index}]] || 카운트: [[${state.count}]] --- [[${dto}]]
        </li>
    </ul>

    <div>====================================================================================</div>
    <h1>제어문 if</h1>
    <ul>
        <li th:each="dto, state: ${list}"
            th:if="${dto.sno % 5 == 0}">
            [[${dto}]]
        </li>
    </ul>

    <div>====================================================================================</div>
    <h1>제어문 if-unless</h1>
    <ul>
        <li th:each="dto, state: ${list}">
            <span th:if="${dto.sno % 5 == 0}"
                  th:text="${'--------' +  dto.sno}"></span>
            <span th:unless="${dto.sno % 5 ==0}"
                  th:text="${dto.first}"></span>
        </li>
    </ul>

    <div>====================================================================================</div>
    <h1>삼항연산자</h1>
    <ul>
        <li th:each="dto, state: ${list}"
            th:text="${dto.sno % 5 == 0} ? ${dto.sno} : ${dto.first}"></li>
    </ul>

    <div>====================================================================================</div>
    <h1>CSS Class</h1>
    <ul>
        <li th:each="dto, state: ${list}"
            th:class="${dto.sno % 5 == 0} ? 'target'"
            th:text="${dto}"></li>
    </ul>

    <div>====================================================================================</div>
    <h1>th block</h1>
    <ul>
        <th:block th:each="dto: ${list}">
            <li th:text="${dto.sno % 5 == 0} ? ${dto.sno} : ${dto.first}"></li>
        </th:block>
    </ul>

</body>
<style>
    .target{
        background-color: red;
    }
</style>
</html>