<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0
  maximum-scale=1.0, minimum-scale=1.0">
    <title>Member</title>
</head>
<body>
    <h1>MEMBER USER</h1>
    <div sec:authorize="isAuthenticated()">
        Only Authenticated user can see this Text
    </div>

    Authenticated username:
    <div sec:authentication="name"></div>
    Authenticated user roles:
    <div sec:authentication="principal.authorities"></div>

</body>
</html>